{% extends "index.twig" %}

{% block style %}
    <style>
        body {
            background-color: black;
            margin: 20px;
        }

        * {
            color: white;
        }
    </style>
{% endblock %}

{% block main %}
    <p>You enter the void.</p>
    <p>It is boundless, and empty.</p>
{% endblock %}